<!DOCTYPE html>
<html>
<head>
  <title>Ourtube</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag 'vendor/jquery' %>
  <%= javascript_include_tag 'vendor/swfobject' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tag %>
</head>
<body>

<%= yield %>

</body>
</html>
